<%= form_for @driver, url: confirmation_driver_index_path , :method => 'POST' , :html => {:class => 'form'}  do |f| %>

	<!-- Main content -->
	<section class="content content-bg">
		<div class="row">
			<div class="col-lg-12 col-xs-12">
				<h3 class="instruction">
					THE INFORMATION IN THIS FORM WILL BE TREATED IN STRICTEST CONFIDENTIALITY IN ACCORDANCE WITH THE 1998 DATA PROTECTION ACT.
				</h3>
						
				<p class="instruction">
					Due to the high security of some of iWAD Customers, you are required to supply personal details to enable security checks to be carried out where appropriate. Please ensure all sections of this application form are completed and there are no gaps.
				</p>
			</div><!-- ./col -->
		</div><!-- /.row -->
		<br />
		<% if @driver && @driver.errors && @driver.errors.count > 0 %>
			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-error alert-block" role="alert">
						<ul class="errorMessageList">
							<% @driver.errors.full_messages.each do |error| %>
								<li><%= error %></li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		<% end %>
		<div class="row">
			<div class="col-lg-11 col-xs-12">
				<div class="form-group">
					<label class="control-label col-lg-12 col-xs-12" for="posaware">How did you hear about this position :</label>
								
					<div class="col-lg-10 col-xs-12">
						<%= f.text_area :abt_position, autofocus: true, class:'form-control',  :placeholder => 'Enter how you came to know of this position', :rows => '3' %>
					</div>
				</div>
			</div><!-- ./col -->
		</div><!-- /.row -->
		<br />
					
		<div class="row">
			<div class="col-lg-11 col-xs-12">
				<div class="form-group">
					<div class="col-lg-12 col-xs-12">
						<label class="checkbox-inline"><input type="checkbox" value="">I hereby agree that all details added in this application process are true to the best of my knowledge and up to date.</label>
					</div>
				</div>
			</div><!-- ./col -->
		</div><!-- /.row -->
		<br />
				
		<div class="row">
			<div class="col-lg-6 col-xs-12"></div>
			<div class="col-lg-6 col-xs-12">
				<div class="col-lg-8 col-xs-12"></div>
				<div class="col-lg-2 col-xs-12">
					<button type="submit" class="btn btn-success">Complete &nbsp;&nbsp;<i class="glyphicon glyphicon-ok"></i></button>
				</div><!-- ./col -->
			</div>
		</div><!-- /.row -->
	</section>
<% end %>