
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-success alert-block" role="alert">
                <ul class="errorMessageList">
                        <li style="list-style:none;font-size:32px;font-weight:500;">Successfully Added <br/>
                            <span style="font-size:14px;color:#fff;">The iWAD admin will be reviewing your registration details. We will get back to you within 48 hours with a response to your registered mail account.</span>
                        </li>
                </ul>
            </div>
        </div>
    </div>

<!--<a data-method="delete" href="<%= destroy_driver_session_path %>"><i class="fa fa-laptop"></i> Log Out </a> -->

