<% @title = "Driver Terms and Conditions" %>

<h1>Driver Terms and Conditions</h1>
<h2>I WANT A DELIVERY LTD</h2>
<p>Company number 09794745</p>
<p>Registered Office: Andrew James House, Bridge Road, Ashford, Kent, TN23 1BB</p>
<p><strong>Hereinafter referred to as &ldquo;IWAD&rdquo;</strong></p>
<h3>AGREEMENT</h3>
<h4>1. Definitions.</h4>
<p>"Acceptance Signature" means Proof of Delivery which will contain an electronic Signature, or Printed Signature and Time of Delivery.</p>
<p>"Booking" means a booking for the delivery of a Parcel placed by IWAD with a Driver by mobile app, telephone, email, SMS or by any other communication or message to the Drivers Mobile Phone that represents the job of delivering that Parcel using the appropriate vehicle selected.</p>
<p>"Customer" means the person who contracts for the services of the delivery of a Parcel via IWAD.</p>
<p>"Conditions" means these conditions of delivery, which shall apply to the contract of delivery between IWAD and the Driver.</p>
<p>"Customer" means the person to whom the Driver delivers the Parcel.</p>
<p>"Client" means the person from whom the Driver picks up the Parcel.</p>
<p>"Driver" means the approved Driver who accepts the Booking or their allocated approved replacement, to fulfill the delivery of a Parcel placed to the Customer via the IWAD application.</p>
<p>"IWAD" means the the Company or any of its subsidiaries that provide an online delivery services of Parcels via the web-service, or mobile application iOS, Android, or Windows, or any means of accessing the IWAD service.</p>
<p>"Parcel" means goods or property, whether or not contained in separate parcels, packages, containers, pallets, boxes, envelopes including any paper, documents and cash or any other transportable item, to be delivered by the Driver for the Customer to the Customer on behalf of IWAD.</p>
<p>"WebSite" means the <a href="http://iwantadelivery.com/">iwantadelivery.com</a> WebSite or any other desktop application, mobile application iOS, Android, or Windows, or any means of accessing the IWAD service.</p>
<p>"Tariffs" means the amount of GBP the Driver is entitled to receive for the delivery of a Parcel, only after the Driver has ensured IWAD with a signed electronic Acceptance Signature on the application from the Customer that the Parcel has been delivered. Tariffs are located on the application, and the Driver is informed of the accepted rate prior to acceptance of the Delivery notification of the availability of a Booking.</p>
<h4>2. General.</h4>
<p>2.1 These conditions shall apply to the exclusion of any other terms and conditions (including those of the Driver) unless agreed in writing by a director of IWAD, no other person is authorised to amend or vary these conditions or Agreement.</p>
<p>2.2 The Driver is paid the mileage from the pick up postcode to the delivery post code which is calculated by IWAD using its mobile or desktop application, no other mileage or expenses will be paid. On accepting the delivery of a Parcel, the driver acknowledges of the Terms and Conditions and amount of payment according to the Tariffs of the service.</p>
<p>2.3 The Driver will be paid the mileage rate according to the type of vehicle requested by the Customer, whether or not that is the vehicle the Driver happens to be Driving. The Driver will normally be allocated Bookings based upon the vehicle type that they have bee registered for on the system.</p>
<p>2.4 The Driver upon accepting the Parcel from the Client shall deliver the Parcel to the Customer in the agreed time in a professional manner.</p>
<p>2.5 The Driver at no time during contact with the Client or Customer shall solicit for work, whether immediately or within 6 months after first contact with the Client or Customer. For the avoidance of doubt, any further work offered by the Client or the Customer directly to the Driver, is chargeable by IWAD to the Driver on a commission basis of &pound;1.00 per mile + VAT. </p>
<p>2.6 Drivers are fully liable for all congestion charges and/or bridge tolls/road tolls or any other charges, including any penalty charges relating to the congestion charge in London. IWAD will pay the Driver the amounts provided to the Driver in its Tariffs, notified to the Driver through the application from time to time.</p>
<p>2.7 Drivers are responsible for any parking tickets and / or any road traffic offences/fines.</p>
<p>2.8. IWAD Reserves the right to alter/vary/update these Conditions and Tariffs without notice from time to time as IWAD sees fit. The Driver will be accept such Conditions and Tariffs if accepting a Booking for delivery through the IWAD system.</p>
<h4>3. Sub-Contracting.</h4>
<p>3.1 The Driver may engage any pre approved replacement Driver or agent or sub-contractor to fulfill the Agreement of the delivery via their own login on the application. The Driver however accepts full responsibility of this Agreement and obligations of the replacement Driver or the subcontracted agent to the extent that the original driver had been undertaking the Delivery. For security, all changes to Drivers must be notified to the IWAD helpdesk in advance of any Booking being accepted on the application. Payment for services will be made to only to the Account registered on the system. </p>
<h4>4. Parcel information.</h4>
<p>4.1 If required the Driver shall sign a document prepared by the Client acknowledging receipt of the Parcel, but such document shall not be evidence of the condition, declared nature, quantity or weight of the Parcel at the time it is received by the Driver. The Driver is required to insert the words &ldquo;Not Inspected&rdquo; on any manual requests to sign for pick up of any delivery.</p>
<p>4.2 The Driver is required at the address of Delivery to request the Customer sign n Acceptance Signature on behalf of IWAD and the Client to acknowledging receipt of the Parcel which shall be conclusive evidence of delivery and completion of the Booking.</p>
<h4>5. Undeliverable Goods.</h4>
<p>5.1 If the Customer refuses to provide an Acceptance Signature for the Parcel the Driver shall contact the IWAD helpdesk immediately and then wait for further instructions, at no time should possession of the Parcel pass to the Customer until authorised to do so by the IWAD helpdesk. Should no contact be possible the driver shall not deliver the Parcel.</p>
<p>5.2 If the Driver is unable to obtain a signature from the Customer for whatever reason, the Driver shall Contact IWAD immediately and then wait for further instructions, at no time should the Driver take it upon themselves to take any other action.</p>
<h4>6. Cancellation.</h4>
<p>6.1 If the Driver accepts to undertake the delivery of a Parcel offered by IWAD and then fails to turn up without just cause or notification to IWAD, IWAD shall be entitled to charge the Driver any additional losses or expenses incurred by IWAD in attempting to cover the delivery for the Customer.</p>
<h4>7. Limitation of Liability.</h4>
<p>7.1 Notwithstanding any other clause of these Conditions, neither party excludes or limits liability for personal injury or death arising from the negligence of wilful default of either party, its servants, dealers or sub-contractors; or any fraudulent misrepresentation.</p>
<p>7.2 IWAD shall not be liable to the Driver, whether in contract, tort or by statute, or otherwise in respect of any loss of profits and/or for any special, indirect, incidental or consequential loss or damage suffered by the Driver howsoever caused including, without limitation:</p>
<ul>
  <li>any loss of goodwill; and/or </li>
  <li>any loss due to delay in delivery; and/or</li>
  <li>any loss of use; and/or</li>
  <li>any loss of anticipated savings; and/or</li>
  <li>any loss of business and/or goods; and/or</li>
  <li>any loss of data or other information; and/or</li>
  <li>any loss relating to the Driver or any substitution of goods or services.</li>
</ul>
<p>For the avoidance of doubt, neither the type of loss and/or damage specified above in this clause 7, nor any similar type of loss and/or damage shall constitute any direct loss for the purpose of the Agreement.</p>
<p>7.3 Except as expressly provided in this Agreements Terms and Conditions, the total liability of IWAD under these Conditions shall not exceed the lower of the declared Tariffs or the Tariffs paid to the Driver, for the avoidance of doubt, the liability shall be limited to the IWAD Driver Tariffs.</p>
<p>7.4 IWAD shall not be held responsible for any event beyond the reasonable control of IWAD which prevents it from performing its obligations under the Agreement including, but not limited to:</p>
<p>7.4.1 acts, omissions or misrepresentations by the Client, representative or owner of the Parcel, Customer or other independent contractor;</p>
<h4>8. Lien.</h4>
<p>8.1 At no time shall the Driver have a general lien over the Parcel.</p>
<h4>9. Insurance.</h4>
<p>9.1 At all times Driver must have the valid insurance for the vehicle you are driving and the type of work you are undertaking. All Drivers must have Hire and Reward Courier insurance and goods in transit insurance cover for a minimum of &pound;10,000.00 sterling.</p>
<h4>10. Condition and type of vehicle.</h4>
<p>10.1 It is the responsibility of the Driver to ensure that their vehicle is up to road legal standard and of the type for which they have registered for Delivery. </p>
<h4>11. Communication.</h4>
<p>11.1 All work offered by IWAD to Drivers will be done so to the Drivers Mobile phone, Drivers are required to have their mobiles phones on and if a sufficiently charged state at all times when available for work.</p>
<h4>12. Problems with Bookings.</h4>
<p>12.1 From time to time Drivers may incur some kind of query/problem with a Booking or Client or Customer. You are required to contact your helpdesk immediately to report any issues including but limited to a change in vehicle, distance, weight, load or delivery date/time, or if a Customer or Client has a problem.</p>
<p>12.2 If your vehicle breaks down after you have accepted the booking and you are unable to complete the Booking, you must telephone IWAD immediately to arrange another driver to collect/continue the Booking. You also forfeit any payment for the Booking you were undertaking no matter the distance traveled, as payment will pass to the new driver taking on the booking and IWAD now have to pay them to complete the Booking, which at short notice might mean paying another driver over the odds to complete the booking. In short it is not IWAD's responsibility or fault that your vehicle broke down.</p>
<h4>13. Status of Employment.</h4>
<p>13.1 All Drivers are Self Employed and responsible for their own Tax, National Insurance and VAT. Nothing in this Agreement or acceptance of a Booking constitutes an offer of permanent or direct Employment. Drivers may be substituted by another pre-approved Driver or Subcontractor subject to clause 3 above.</p>
<h4>14. Driver Safety/Loading.</h4>
<p>14.1 As a Self Employed Driver, you are responsible if you choose to overload your vehicle. IWAD at no point advises you to take any unnecessary risk by overloading your vehicle. It is the responsibility of the Driver to be aware of the limits on weight on your vehicle. This is called the Gross Vehicle Weight (GVW). These details can be found in the vehicle handbook or on the display plate by the bulkhead or passenger door. Drivers should ensure always that their load is distributed evenly in the vehicle.</p>
<h4>15. Drink Driving.</h4>
<p>15.1 If a Client or Customer reports to IWAD that they suspect the Driver is driving under the influence of alcohol, IWAD will notify the police and inform them of your location. If you are found to be driving under the influence of alcohol you will be removed from the service immediately and not allowed to re-join our services.</p>
<h4>16. Accidents / Insurance Claims/ Theft.</h4>
<p>16.1 All Drivers are required to produce their Insurance Documents on request, whether or not they have previously done so to IWAD. Drivers are responsible for ensuring that all insurances are kept up to date, valid and in force.</p>
<p>16.2 Where Customers claim against IWAD for loss of goods in accidents during transit by Drivers, IWAD will produce the Drivers Insurance details to the Customer to claim from.</p>
<p>16.3 Where a Customer claims against IWAD, IWAD will counter claim against Drivers and/or the Drivers Insurance or Insurance Company. If any Driver is found to have false documents, IWAD will reserve the right to litigate against the Driver in the courts via a private prosecution.</p>
<p>16.4 Should IWAD be unable to contact the Driver for a period of six to twelve (6 to 12) hours after confirmation by the Customer that the Driver collected the Parcel but has yet to deliver it to the Customer in the specified time frame, IWAD will report to the police that the Parcel has been stolen by the Driver, where the police will then act accordingly to English law.</p>
<h4>17. Intellectual Property and Use of IWAD Web-Site and Applications on the Mobile</h4>
<p>17.1 The information provided on the Web-Site and applications are the property of IWAD. The Driver is permitted use of the software for the purposes of providing the service. The Driver agrees that the software will not be used for any other purposes and agrees that the Software is the sole property of IWAD. </p>
<p>17.2 Whilst IWAD makes all reasonable attempts to exclude viruses from the Web-Site and all applications, it cannot ensure that the software will be virus free.</p>
<p>17.3 The service is intended for use by the residents in the United Kingdom only and only in respect of their activities within the United Kingdom.</p>
<h4>18. Miscellaneous.</h4>
<p>18.1 IWAD undertakes to comply with any and all provisions of the Data Protection Act 1988 as applicable.</p>
<p>18.2 A person who is not a party to the Agreement has no right under the Contracts (Rights of Third Parties) Act 1999 to enforce any term of these Conditions, but this does not affect any right or remedy of a third party which exists or is available apart from that Act.</p>
<p>18.3 This Agreement and any schedules hereto represent the entire Agreement between the Parties as to the subject matter hereof and supersede all prior understandings between the Parties on the subject-matter hereof.</p>
<p>18.4 No amendments and/ or modifications to this Agreement shall be valid unless executed in writing and signed by both Parties.</p>
<p>18.5 Termination of this Agreement for any cause whatsoever shall not release a Party from any liability which, at the time of termination, has already accrued to the other Party or which may thereafter accrue in respect of any act or omission prior to such termination.</p>
<h4>19. Notices</h4>
<p>Any notice required by this Agreement or given in connection with it, shall be in writing and shall be given to the appropriate party by personal delivery or a recognised or registered delivery system.</p>
<h4>20. IWAD's Concepts and Ideas</h4>
<p>Those concepts and ideas developed and communicated by IWAD to the Driver during the course of the performance of Services hereunder and which relate to the IWAD&rsquo;s present, past or prospective business activities, services, and products, all of which shall remain the sole and exclusive property of IWAD. The Driver shall have no publication rights and all of the same shall belong exclusively to the IWAD.</p>
<h4>21. Term and Termination</h4>
<p>21.1 This Agreement shall be effective as of the the acceptance by IWAD and issue of Drivers approval on the system and shall continue in effect until either the Driver or IWAD terminates the Agreement by notifying the other party with seven days notice.</p>
<p>21.2 This Agreement shall terminate upon the occurrence of any of the following events:</p>
<ul>
  <li>In the event either party defaults in any material obligation owed to the other party pursuant to this Agreement, then this Agreement may be terminated immediately without written notice to the defaulting party. </li>
  <li> Either party is bankrupt or insolvent, or bankruptcy or insolvency proceedings are instituted against a party and the proceeding is not dismissed within thirty (30) days after commencement.</li>
</ul>
<p>21.3 In the event of early termination by the IWAD, the Driver shall ensure that any property or outstanding Delivery that is in their position is immediately returned to the Client or delivered to the Customer as instructed by IWAD. Failure to do so will result in the replacement or costs of the item to be claimed against the Drivers Insurance or Insurance Company and reported to the Police as stolen. IWAD will pay to the Driver any outstanding amounts for all services rendered and work performed up to the effective date of termination subject to IWADS right to only pay fair value if IWAD terminates for cause. </p>
<p>21.4 Clause 17 (Intellectual Property and Use of IWAD Web-Site and Applications on the Mobile) and clause 25 (Confidentiality) shall survive the expiration or termination of this Agreement. </p>
<h4>22. Disputes</h4>
<p>IWAD and the Driver agree to make a good-faith effort to resolve any dispute arising out of, or in connection with, this Agreement through negotiation. Should the parties fail to resolve any such dispute within thirty (30) days, any controversy or claim arising out of or relating to this Agreement, including, without limitation, the interpretation or breach thereof, shall be submitted by either party to arbitration in the United Kingdom and shall be finally settled under the Rules of Arbitration of the International Chamber of Commerce by one or more arbitrators appointed in accordance with the said Rules. Notwithstanding the foregoing, this Section shall not preclude either party from seeking temporary, provisional, or injunctive relief from any court.</p>
<h4>23. Severability</h4>
<p>If any term of this Agreement is held by a court of competent jurisdiction to be invalid or unenforceable, then this Agreement, including all of the remaining terms, will remain in full force and effect as if such invalid or unenforceable term had never been included.</p>
<h4>24. Force Majeure</h4>
<p>Except with regard to payment obligations, either party shall be excused from delays in performing or from failing to perform its obligations under this Agreement to the extent the delays or failures result from causes beyond the reasonable control of the party, including, but not limited to: acts of God or of the public enemy; foreign governmental actions; strikes; fire; flood; epidemic; and freight embargoes.</p>
<h4>25. Confidentiality</h4>
<p>The parties agree to hold each other's Proprietary or Confidential Information in strict confidence. The parties agree not to make each other's Proprietary or Confidential Information available in any form to any third party or to use each other's Proprietary or Confidential Information for any purpose other than as specified in this Agreement. Each party's Proprietary or Confidential Information shall remain the sole and exclusive property of that party. The parties agree that in the event of use or disclosure by the other party other than as specifically provided for in this Agreement, the non-disclosing party may be entitled to equitable relief. Notwithstanding termination or expiration of this Agreement, the Driver and IWAD acknowledge and agree that their obligations of confidentiality with respect to Proprietary or Confidential Information shall continue in effect for a total period of three (3) years from the date of this Agreement.</p>
<h4>26. Governing Law</h4>
<p>This Agreement shall be construed and enforced according to the laws of the courts in England &amp; Wales and any dispute under this Agreement must be brought in this venue and no other.</p>