<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="CB006840">
	<META NAME="CREATED" CONTENT="20160906;71800000000000">
	<META NAME="CHANGEDBY" CONTENT="CB006840">
	<META NAME="CHANGED" CONTENT="20160906;71800000000000">
	<META NAME="AppVersion" CONTENT="16.0000">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in; margin-left: 1in; margin-right: 0.75in; margin-top: 0.5in; margin-bottom: 1in }
		P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
		H1 { margin-bottom: 0in; direction: ltr; color: #2e74b5; page-break-inside: avoid; widows: 2; orphans: 2 }
		H1.western { font-family: "Calibri Light", serif; font-size: 16pt; font-weight: normal }
		H1.cjk { font-size: 16pt; font-weight: normal }
		H1.ctl { font-family: ; font-size: 16pt; font-weight: normal }
		H2 { margin-top: 0.03in; margin-bottom: 0in; direction: ltr; color: #2e74b5; page-break-inside: avoid; widows: 2; orphans: 2 }
		H2.western { font-family: "Calibri Light", serif; font-size: 13pt; font-weight: normal }
		H2.cjk { font-family: "Arial"; font-size: 13pt; font-weight: normal }
		H2.ctl { font-family: ; font-size: 13pt; font-weight: normal }
		A:link { color: #0563c1; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" LINK="#0563c1" DIR="LTR">
<DIV TYPE=HEADER>
	<P ALIGN=RIGHT STYLE="margin-bottom: 0in; line-height: 100%"><BR>
	</P>
</DIV>
<H1 CLASS="western"><A NAME="_GoBack"></A>How to sign-up</H1>
<P STYLE="margin-bottom: 0.11in">In order to access the iWAD API,
please visit the link <A HREF="http://b2b.iwadbackoffice.com/users/new">http://b2b.iwadbackoffice.com/users/new</A>
 and register your business on the iWAD B2B platform. Once registered
and verified, you will receive an email with the necessary
authentication tokens and API keys.
</P>
<H1 CLASS="western">Support</H1>
<P STYLE="margin-bottom: 0.11in">Feel free to contact our integration
support team by opening a support ticket. Simply send your inquiry by
email to <A HREF="mailto:support@iwad.zendesk.com">support@iwad.zendesk.com</A><FONT COLOR="#333333"><FONT FACE="Lucida Sans Unicode, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B><SPAN STYLE="background: #ffffff">
</SPAN></B></FONT></FONT></FONT>
</P>
<H1 CLASS="western">Delivery Pricing</H1>
<H2 CLASS="western">Basic fee</H2>
<P STYLE="margin-bottom: 0.11in">iWAD has a range of vehicle
categories and sub types based on form actor and load capacity. Use
the table below to compare pricing across our range of available
vehicles.
</P>
<TABLE WIDTH=418 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=104>
	<COL WIDTH=110>
	<COL WIDTH=58>
	<COL WIDTH=88>
	<TR VALIGN=TOP>
		<TD WIDTH=104 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Vehicle Class</B></P>
		</TD>
		<TD WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Vehicle Sub type</B></P>
		</TD>
		<TD WIDTH=58 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Minimum Charge</B></P>
		</TD>
		<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Price Per Mile</B></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=104 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Van</P>
		</TD>
		<TD WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Small Van</P>
		</TD>
		<TD WIDTH=58 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>1.00</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=104 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Van</P>
		</TD>
		<TD WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Transit</P>
		</TD>
		<TD WIDTH=58 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>1.22</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=104 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Van</P>
		</TD>
		<TD WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>LWB Transit</P>
		</TD>
		<TD WIDTH=58 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>1.22</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=104 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Van</P>
		</TD>
		<TD WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Luton</P>
		</TD>
		<TD WIDTH=58 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>1.50</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=104 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Bike</P>
		</TD>
		<TD WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Push bike</P>
		</TD>
		<TD WIDTH=58 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>1</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=104 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Bike</P>
		</TD>
		<TD WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Push bike solo</P>
		</TD>
		<TD WIDTH=58 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>1</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=104 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Bike</P>
		</TD>
		<TD WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Bike</P>
		</TD>
		<TD WIDTH=58 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>1</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=104 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Bike</P>
		</TD>
		<TD WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Solo bike</P>
		</TD>
		<TD WIDTH=58 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>1</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=104 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Car</P>
		</TD>
		<TD WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>solo GDS</P>
		</TD>
		<TD WIDTH=58 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>1</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=104 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Car</P>
		</TD>
		<TD WIDTH=110 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>GDS car</P>
		</TD>
		<TD WIDTH=58 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
		<TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>1</P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<H2 CLASS="western">Additional charges</H2>
<P STYLE="margin-bottom: 0.11in">The following table describes the
additional charges based on options selected for a particular
delivery.</P>
<TABLE WIDTH=432 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=201>
	<COL WIDTH=201>
	<TR VALIGN=TOP>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><B>Handling per Worker</B></P>
		</TD>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><B>Waiting</B></P>
		</TD>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><B>Oversize package</B></P>
		</TD>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><B>Express delivery</B></P>
		</TD>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0.11in"><BR><BR>
</P>
<P STYLE="margin-bottom: 0.11in"><FONT COLOR="#2e74b5"><FONT FACE="Calibri Light, serif"><FONT SIZE=3 STYLE="font-size: 13pt">Taxes</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.11in">The following table describes the
taxes charged on all iWAD services.</P>
<TABLE WIDTH=432 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=201>
	<COL WIDTH=201>
	<TR VALIGN=TOP>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><B>Sales tax</B></P>
		</TD>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><B>Road tax</B></P>
		</TD>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><B>Highway tolls</B></P>
		</TD>
		<TD WIDTH=201 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><BR>
			</P>
		</TD>
	</TR>
</TABLE>

<iframe src="/apipie" width="100%" height="100%"></iframe>

</BODY>
</HTML>
