<div style="display:inline;vertical-align:middle">

<table>
	<thead>
		<tr>
			<th colspan="2"><label>Driver</label></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><label>Name:</label></td>
			<td><label><%= userLocation.driver.name %></label></td>
		</tr>
		<tr>
			<td><label>Vehicle:</label></td>
			<td><label><%= userLocation.driver.delivery_vehicle.name %></label></td>
		</tr>
	</tbody>
</table>
</div>